apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ argocd_root_app_name }}
  namespace: {{ argocd_namespace }}
spec:
  project: default
  source:
    repoURL: {{ gitops_repo_url }}
    targetRevision: {{ gitops_repo_revision }}
    path: {{ gitops_root_path }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ argocd_namespace }}
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
