[defaults]
inventory = inventory.ini
roles_path = roles
interpreter_python = auto_silent
local_tmp = /private/tmp/ansible-local
retry_files_enabled = False

[ssh_connection]
pipelining = True
control_path_dir = /private/tmp/ansible-cp
