<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
<div style="font-family:Helvetica,Arial,sans-serif;font-size:16px;margin:0;color:#0b0c0c">
    <table role="presentation" width="100%" style="border-collapse:collapse;min-width:100%;width:100%!important"
           cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td width="100%" height="53" bgcolor="#0b0c0c">
                <span style="font-family:Helvetica,Arial,sans-serif;font-weight:700;color:#ffffff;text-decoration:none;vertical-align:top;display:inline-block">Reset your Password</span>
            </td>
        </tr>
        </tbody>
    </table>
    <table role="presentation" class="content" align="center" cellpadding="0" cellspacing="0" border="0"
           style="border-collapse:collapse;max-width:580px;width:100%!important" width="100%">
        <tbody>
        <tr>
            <td style="padding:20px;font-family:Helvetica,Arial,sans-serif;font-size:19px;line-height:1.315789474;">
                <p>Hi <span th:text="${name}">Name</span>,</p>
                <p>Please click on the link below to create a new password for your account!</p>
                <p><a th:href="${link}" href="default-link">Reset Password</a></p>
                <p>The link will expire in 15 minutes.</p>
                <p>Have a nice day!</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
